<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856460667372-1dr4ao14t8hqma2g5j1lkmn1alngtj0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856460667372-1dr4ao14t8hqma2g5j1lkmn1alngtj0v</string>
	<key>API_KEY</key>
	<string>AIzaSyDaM1s8EGAQooLGJlf_39he71hDMzUjOqg</string>
	<key>GCM_SENDER_ID</key>
	<string>856460667372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ebda.customer</string>
	<key>PROJECT_ID</key>
	<string>ebda-test</string>
	<key>STORAGE_BUCKET</key>
	<string>ebda-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856460667372:ios:d85382078809f9e03638c9</string>
	<key>DATABASE_URL</key>
	<string>https://ebda-test.firebaseio.com</string>
</dict>
</plist>